<%- include('partials/header'); %>

<div class="container">
  <h1 id="title">ようこそ</h1>
  <p id="genre"></p>
  <p id="difficulty"></p>
  <p id="question">以下のボタンをクリックしてください</p>
  <button><a href="/quiz">開始</a></button>
</div>

<%- include('partials/footer'); %>
